* {
    color: $colour_outer_space_love;
    scroll-behavior: smooth;
}
a {
    color: $colour_outer_space_love;
    &:link {
        color: $colour_outer_space_love;
    }
    &:visited {
        color: $colour_outer_space_love;
    }
}
//all items in main with id set scroll-margin-top higher
main *[id] {
    scroll-margin-top: 10rem;
}
