* {
    color: $colour_blue_cobalter;
    scroll-behavior: smooth;
}
a {
    color: $colour_blue_cobalter;
    &:link {
        color: $colour_blue_cobalter;
    }
    &:visited {
        color: $colour_blue_cobalter;
    }
}
