* {
    color: $colour_blue_cobalter;
    scroll-behavior: smooth;
}
a {
    color: $colour_blue_cobalter;
    &:link {
        color: $colour_blue_cobalter;
    }
    &:visited {
        color: $colour_blue_cobalter;
    }
}
//all teims with id set scroll-margin-top higher
*[id] {
    scroll-margin-top: 10rem;
}
