html {
    margin: 0;
    padding: 0;
    background-color: $colour_light_grey_aotrom;
    font-family: $base_font;
}
body {
    margin: 0;
    padding: 0;
    background-color: $colour_light_grey_aotrom;
    font-family: $base_font;
}
#BackgroundImage {
    display: block;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.1;
    iframe {
        width: 120vw;
        height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
        min-height: 120vh !important;
        min-width: 177.77vh !important; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
main#main {
    overflow-x: hidden;
    position: relative;
    z-index: 2;
    padding-top: 120vh;
    padding-bottom: 2rem;
    #content-below-quote {
        .element {
            margin-top: 6rem;
            clear: both;
        }
    }
}
body.no-rocket-show.no-quote {
    #main {
        padding-top: calc(50vh - 8rem);
    }
    #BackgroundImage {
        display: none;
    }
    .main-quote {
        display: none;
    }
}

footer#footer {
    padding: 2rem;
}
