@media only screen and (min-width: 0px) {
    html {
        font-size: calc(6px + 0.25vw) !important;
    }
    #header {
        #logo {
            width: 24vw;
            height: 24vw;
            margin-top: calc(24vw * -0.1666666);
        }
        h1 {
            margin-top: 0;
            font-size: calc(24vw / 3);
            right: calc(24vw / 2.3);
            top: calc(24vw / 1.6);
        }
    }
    #nav {
        #menu-toggle {
            // top: calc(24vw / 1.6);
        }
    }
    main {
        padding-top: calc(24vw * 1.3);
        padding-left: 6vw;
        padding-right: 6vw;
    }
    footer#footer {
        #theme-selectors {
            display: block;
        }
    }

}
@media only screen and (min-width: 450px) {
    #header {
        #logo {
            width: 18vw;
            height: 18vw;
            margin-top: calc(18vw * -0.1666666);
        }
        h1 {
            font-size: calc(18vw / 3);
            right: calc( 6vw + (18vw / 4.6));
            top: calc(18vw / 1.6);
        }
    }
    #nav {
        #menu-toggle {
            // top: calc(18vw / 1.6); // important to also overrule, menu-on.
        }
        #nav-inner {

            margin: 0;
            nav {
                & > ul {
                    li {
                        padding-left: 0;
                        margin-left: 0;
                        ul {
                            margin-left: 3vw;
                            li {
                                font-size: 1.7rem;
                            }
                        }
                    }
                }
            }
        }
    }
    main {
        padding: 4rem 6vw;
        padding-top: calc(18vw * 1.4);
    }
    footer#footer {
        padding: 4rem 6vw;
        #theme-selectors {
            a {
                margin-right: 1.5rem;
                margin-left: 0rem;
            }
        }
        div.col {
            text-align: left;
            padding-top: 0;
        }
    }
    .row {
        grid-template-columns: 1fr 1fr;
    }
    body.past-header{
        #nav {
            #menu-toggle {
                top: 0;
            }
        }
    }
    body.menu-on{

    }
    body.past-header.menu-on {
        #nav {
            #menu-toggle {
                top: 5vh;
                bottom: auto;
                left: 6vw;
                // bottom: calc(18vw / 1.6);
            }
        }
    }
}
@media only screen and (min-width: 750px) {
    #header {
        #logo {
            width: 12vw;
            height: 12vw;
            margin-top: calc(12vw * -0.1666666);
        }
        h1 {
            font-size: calc(12vw / 3);
            right: calc( 6vw + (12vw / 4.6));
            top: calc(12vw / 1.6);
        }
    }
    #nav {
        #menu-toggle {
            // top: calc(12vw / 1.6); // important to also overrule, menu-on.
        }
    }
    .past-header #Breadcrumbs  {
        display: inline;
    }
    body.past-header {
        #nav {
        }
    }
    body.menu-on {
        #nav {
            #menu-toggle {
                // left: 6vw;
            }
        }
    }
    main {
        padding-top: calc(12vw * 1.4);
        .typography {
            h1, h2 {
                clear: left;
                float: left;
                width: 21vw;
                padding-top: 0;
                margin-top: 0;
                vertical-align: sub;
            }
            h1 {
            }
            h2 {
            }
            p,
            ul,
            ol,
            h3,
            h4,
            h5,
            h6,
            form,
            address,
            div.captionImage {
                margin-left: 24vw;
                padding-top: 0;
                margin-top: 0;
            }
            .image-container {
                padding-left: 0!important;
                padding-right: 0!important;
                margin-left: -24vw!important;
                width: calc(100% + 24vw);
                img {
                    margin-left: 24vw;
                }
            }
        }
    }
    footer#footer {
        padding: 4rem;
    }
    .row {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 1050px) {

    body.past-header{
        #header {
            opacity: 0;
            display: none;
        }
    }
    body.past-header.just-scrolled {
        #header {
            opacity: 1;
            display: block;
            animation-duration: 1s; /* the duration of the animation */
            animation-timing-function: ease-out; /* how the animation will behave */
            animation-delay: 2s; /* how long to delay the animation from starting */
            animation-iteration-count: 1; /* how many times the animation will play */
            animation-name: unloadTransition; /* the name of the animation we defined above */
            animation-fill-mode: forwards;
        }
    }
    #header {
        #logo {
            width: 9vw;
            height: 9vw;
            margin-top: calc(9vw * -0.1666666);
        }
        h1 {
            font-size: calc(9vw / 3);
            right: calc( 6vw + (9vw / 4.6));
            top: calc(9vw / 1.6);
        }
    }
    main {
        padding: 0;
        padding-bottom: 4rem;
        padding-top: calc(9vw * 1.5);
        margin-right: 6vw;
        margin-left: 24vw;
    }
    #nav {
        border: none;
        border-radius: 0;
        margin-left: 0;
        margin-bottom: 0;
        background-color: $colour_sunny_side_up_yellow;
        opacity: 1;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 18vw;
        height: auto;
        z-index: 20;
        #menu-toggle {
            text-align: center;
            top: calc(9vw / 1.77);
            left: 0!important;
            width: 18vw;
            svg {
                height: calc((5vw + 7vh) / 2)!important;
            }
        }
        #nav-inner {
            scrollbar-width: none;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                width: 0px;
            }
            p {
                font-size: 1rem;
            }
        }
    }
    footer#footer {
        padding: 4rem 0;
        padding-right: 6vw;
        padding-left: calc(24vw + 24vw);
        // z-index: 30;
    }
    body.menu-on {
        #nav {
            z-index: 999;
            #menu-toggle {
                top: calc(9vw / 1.77);
            }
        }
    }
    body.past-header,
    body.menu-on.past-header {
        #nav {
            background-color: $colour_sunny_side_up_yellow;
            border: none;
            border-radius: 0;
            margin-left: 0;
            margin-bottom: 0;
            height: 100vh;
            margin-left: 0;
            left: 0;
            #menu-toggle {
                top: 5vh;
            }
        }
    }
    body.past-header {
        #nav {
            width: 18vw;
        }
    }
    body.menu-on.past-header {
        #nav {
            width: 100vw;
        }
    }


    body.past-header {
        #header {
            // left: 24vw;
        }
    }
    // body.footer-visible {
    //     #header {
    //         left: 100%;
    //         &:before {
    //             height: 0!important;
    //         }
    //     }
    // }

}
@media only screen and (min-width: 1350px) {
    #nav {
        #nav-inner {
            nav {
            }
        }
    }
    footer#footer {
        padding-left: 24vw;
    }
    .row {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    //
    // #theme-selectors {
    //     position: fixed;
    //     top: calc(9vw / 2.3);
    //     opacity: 0.17;
    //     left: 24vw;
    //     background-color: $colour_blue_cobalter;
    //     padding-top: 1rem!important;
    //     padding-left: 1.5rem!important;
    //     border-radius: 23px;
    //     line-height: 1;
    //     &:hover {
    //         opacity: 1;
    //     }
    // }
    // .past-header #theme-selectors {
    //     opacity: 0.37;
    // }
}
