@media only screen and (min-width: 0px) {
    html {
        font-size: calc(8px + 0.1vw) !important;
    }
    #header {
        #logo {
            width: 24vw;
            height: 24vw;
            margin-top: calc(24vw * -0.1666666);
        }
        h1 {
            margin-top: 0;
            font-size: calc(24vw / 3);
            right: calc(24vw / 2.3);
            top: calc(24vw / 1.6);
        }
    }
    main {
        // padding-top: calc(24vw * 1.3);
        padding-top: calc(17vw + 23vh);
        padding-left: 6vw;
        padding-right: 6vw;
        .typography h1:before,
        .typography h2:before {
            display: none;
        }
    }
    footer#footer {
        #theme-selectors {
            display: block;
        }
    }
}
@media only screen and (min-width: 450px) {
    #header {
        #logo {
            width: 18vw;
            height: 18vw;
            margin-top: calc(18vw * -0.1666666);
        }
        h1 {
            font-size: calc(18vw / 3);
            right: calc(6vw + (18vw / 4.6));
            top: calc(18vw / 1.6);
        }
    }
    #nav {
        #nav-inner {
            left: 15% !important;
            margin: 0;
            nav {
                & > ul {
                    li {
                        padding-left: 0;
                        margin-left: 0;
                        ul {
                            margin-left: 3vw;
                            li {
                                font-size: 1.7rem;
                            }
                        }
                    }
                }
            }
        }
    }
    main {
        padding: 4rem 6vw 2rem;
        // padding-top: calc(18vw * 1.4);
        padding-top: calc(17vw + 12vh);
        blockquote {
            p {
                text-align: right !important;
            }
        }
        .typography {
            .image-container {
                img {
                    max-width: 92% !important;
                }
            }
        }
    }
    footer#footer {
        padding: 4rem 6vw;
        #theme-selectors {
            a {
                margin-right: 1.5rem;
                margin-left: 0rem;
            }
        }
        div.col {
            text-align: left;
            padding-top: 0;
        }
    }
    .row {
        grid-template-columns: 1fr 1fr;
    }
    body.past-header.menu-on {
        #nav {
            #menu-toggle {
                left: 6vw;
                // bottom: calc(18vw / 1.6);
            }
        }
    }
}

@media only screen and (min-width: 750px) {
    #header {
        #logo {
            width: 12vw;
            height: 12vw;
            margin-top: calc(12vw * -0.1666666);
        }
        h1 {
            font-size: calc(12vw / 3);
            right: calc(6vw + (12vw / 4.6));
            top: calc(12vw / 1.6);
        }
    }

    footer#footer {
        padding: 4rem 6vw;
    }
    .row {
        grid-template-columns: 1fr 1fr;
    }
    #nav {
        .icon {
            left: -6rem;
        }
    }
}
@media only screen and (min-width: 900px) {
    main {
        .typography {
            p {
                // text-align: justify;
            }
            h1:before,
            h2:before {
                display: block;
            }
            h1,
            h2 {
                clear: left;
                float: left;
                width: calc(21vw - 5rem);
                padding-top: 0;
                margin-top: 0;
                margin-top: -1px;
                border-bottom: none;
            }
            h2 + p {
                padding-top: 0.5rem;
            }
            p,
            ul,
            ol,
            h3,
            h4,
            h5,
            h6,
            form,
            address,
            div.captionImage {
                margin-left: 24vw;
                padding-top: 0;
                margin-top: 0;
            }
            .image-container {
                padding-left: 0 !important;
                padding-right: 0 !important;
                margin-left: -24vw !important;
                width: calc(100% + 24vw);
                img {
                    margin-left: 24vw;
                    max-width: calc(64vw - 2px) !important;
                }
            }
            .image-container.full {
                padding-left: 0 !important;
                padding-right: 0 !important;
                margin-left: -24vw !important;
                width: calc(100% + 24vw);
                img {
                    margin: 0 !important;
                    max-width: calc(100% - 2px) !important;
                    width: calc(100% - 2px) !important;
                }
            }
        }
    }
    #SiblingsAndChildren {
        margin-top: 12rem !important;
        padding-top: 2rem !important;
        h2 {
            &:before {
                border-top: 3px solid $colour_blue_cobalter;
            }
        }
    }
}
@media only screen and (min-width: 1050px) {
    body.past-header {
        #header {
            opacity: 0;
            display: none;
        }
    }
    body.past-header.just-scrolled {
        #header {
            opacity: 1;
            display: block;
            animation-duration: 1s; /* the duration of the animation */
            animation-timing-function: ease-out; /* how the animation will behave */
            animation-delay: 2s; /* how long to delay the animation from starting */
            animation-iteration-count: 1; /* how many times the animation will play */
            animation-name: unloadTransition; /* the name of the animation we defined above */
            animation-fill-mode: forwards;
        }
    }
    body.past-header.just-scrolled.toc-on {
        #header {
            display: none !important;
        }
    }
    #header {
        #logo {
            width: 9vw;
            height: 9vw;
            margin-top: calc(9vw * -0.1666666);
        }
        h1 {
            font-size: calc(9vw / 3);
            top: calc(9vw / 1.6);
            a.bread-crumb {
                font-size: 2.5rem;
            }
        }
    }

    #nav {
        opacity: 1 !important;
        border: none;
        border-radius: 0;
        margin-left: 0;
        margin-bottom: 0;
        background-color: $colour_sunny_side_up_yellow;
        opacity: 1;
        position: fixed;
        left: 0;
        top: 0;
        right: auto;
        bottom: 0;
        width: 18vw;
        height: auto;
        z-index: 20;
        #menu-toggle {
            transform: rotate(0);
            text-align: center;
            top: calc(50% - (0.5 * (5vw + 7vh) / 2)) !important;
            left: 0 !important;
            width: 18vw;
            svg {
                height: 5rem !important;
            }
        }
        #nav-inner {
            left: 40% !important;
            scrollbar-width: none;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                width: 0px;
            }
            p {
                font-size: 1rem;
            }
        }
    }
    main {
        // padding-top: calc(9vw * 1.5);
        padding: calc(12vw + 7vh) 0 0rem 0;
        margin-right: 7vw;
        margin-left: calc(19vw + 7vw);
        .typography {
            .image-container {
                img {
                    max-width: calc(43vw - 2px) !important;
                }
            }
        }
    }
    footer#footer {
        padding: 4rem 0;
        padding-right: 6vw;
        padding-left: calc(24vw + 24vw);
        // z-index: 30;
    }
    body.menu-on {
        #nav {
            z-index: 999;
        }
    }
    body.menu-on {
        #nav {
            right: auto;
            left: 0;
        }
    }
    body.past-header,
    body.menu-on.past-header {
        #nav {
            background-color: $colour_sunny_side_up_yellow;
            border: none;
            border-radius: 0;
            margin-left: 0;
            margin-bottom: 0;
            margin-left: 0;
            left: 0;
        }
    }
    body.menu-on.past-header {
        #nav {
            width: 100vw;
        }
    }
}
@media only screen and (min-width: 1350px) {
    body,
    body.past-header {
        #header {
            #logo {
                right: 5vw;
            }
            h1 {
                right: calc(5vw + (5vw / 1.5));
            }
        }
    }
    #nav {
        #nav-inner {
            left: 40% !important;
        }
    }
    main {
        padding: calc(12vw + 12vh) 0 2rem 0;
        margin-right: 11vw;
        margin-left: calc(19vw + 11vw);
        .typography {
            .image-container {
                img {
                    max-width: calc(35vw - 2px) !important;
                }
            }
        }
    }
    footer#footer {
        padding-left: 24vw;
    }
    .row {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
