@media only screen and (min-width: 0px) {
    html {
        font-size: calc(8px + 0.1vw) !important;
    }
    #header {
        #logo {
            width: 24vw;
            height: 24vw;
            margin-top: calc(24vw * -0.1666666);
        }
        h1 {
            margin-top: 0;
            font-size: calc(24vw / 3);
            right: calc(24vw / 2.3);
            top: calc(24vw / 1.6);
        }
    }
    blockquote {
        padding-left: 3vw;
        padding-right: 3vw;
    }
    main#main {
        // padding-top: calc(24vw * 1.3);
        padding-left: 3vw;
        padding-right: 3vw;
        // #content-below-quote {
        //     margin-left: -3vw;
        //     margin-right: -3vw;
        //     padding-left: 3vw;
        //     padding-right: 3vw;
        // }
        .typography h1:before,
        .typography h2:before {
            display: none;
        }
        .typography {
            .image-container {
                img {
                    max-width: 92%;
                }
            }
        }
    }
    footer#footer {
        #theme-selectors {
            display: block;
        }
    }
}

@media only screen and (min-width: 450px) and (min-height: 400px) {
    #header {
        #logo {
            width: 18vw;
            height: 18vw;
            margin-top: calc(18vw * -0.1666666);
        }
        h1 {
            font-size: calc(18vw / 3);
            right: calc(6vw + (18vw / 4.6));
            top: calc(18vw / 1.6);
        }
    }
    #nav {
        #nav-inner {
            left: 15% !important;
            margin: 0;
            nav {
                & > ul {
                    li {
                        padding-left: 0;
                        margin-left: 0;
                        ul {
                            margin-left: 3vw;
                            li {
                                font-size: 1.7rem;
                            }
                        }
                    }
                }
            }
        }
    }
    main#main {
        padding-left: 2rem;
        padding-right: 2rem;
        // #content-below-quote {
        //     margin-left: -6vw;
        //     margin-right: -6vw;
        //     padding-left: 6vw;
        //     padding-right: 6vw;
        // }
        // padding-top: calc(18vw * 1.4);
        .typography {
            .image-container {
                img {
                    max-width: 92%;
                }
            }
        }
    }
    footer#footer {
        padding: 4rem 6vw;
        #theme-selectors {
            a {
                margin-right: 1.5rem;
                margin-left: 0rem;
            }
        }
        div.col {
            text-align: left;
            padding-top: 0;
        }
    }
    .row {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 600px) {
    .card-holder {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
    }
}
@media only screen and (min-width: 750px) {
    #header {
        #logo {
            width: 12vw;
            height: 12vw;
            margin-top: calc(12vw * -0.1666666);
        }
        h1 {
            font-size: calc(12vw / 3);
            right: calc(6vw + (12vw / 4.6));
            top: calc(12vw / 1.6);
        }
    }

    footer#footer {
        padding: 4rem 6vw;
    }
    .row {
        grid-template-columns: 1fr 1fr;
    }
    #nav {
        .icon {
            left: -6rem;
        }
    }
    .card-holder {
        grid-column-gap: 4rem;
    }
}
@media only screen and (min-width: 900px) {
    main#main {
        .dnadesign__elemental__models__elementcontent {
            h1:before,
            h2:before {
                display: block;
                border-top: 3px dashed $colour_blue_cobalter;
            }
            h1,
            h2 {
                clear: left;
                float: left;
                width: calc(21vw - 5rem);
                padding-top: 0.6rem;
                margin-top: 0;
                margin-top: 4px;
                border-bottom: none;
                .icon {
                    margin-top: 0px;
                }
            }
            h2 + p,
            h2 + ul,
            h2 + ol {
                padding-top: 1rem;
            }
            p,
            ul,
            ol,
            h3,
            h4,
            h5,
            h6,
            form,
            address,
            div.captionImage {
                margin-left: 24vw;
                padding-top: 0;
                margin-top: 0;
            }
            .image-container {
                padding-left: 0 !important;
                padding-right: 0 !important;
                img {
                    display: block;
                    margin: 0 auto;
                    max-width: calc(64vw - 2px);
                }
            }
            li {
                p,
                h3,
                h4,
                h5,
                h6,
                form,
                address,
                div.captionImage {
                    margin-left: 0;
                    padding-left: 0;
                }
                ul,
                ol {
                    padding-top: 1.7rem;
                    margin-left: 0 !important;
                    padding-left: 2.3rem;
                    padding-bottom: 0;
                    li {
                        margin-left: 0rem;
                        padding-left: 0;
                    }
                }
            }
            .image-container.full {
                padding-left: 0 !important;
                padding-right: 0 !important;
                img {
                    max-width: calc(100% - 2px) !important;
                }
            }
        }
    }

    #SiblingsAndChildren {
        margin-top: 6rem !important;
        padding-top: 2rem !important;
    }
}
@media only screen and (min-width: 1050px) {
    body.past-header {
        #header {
            opacity: 0;
            display: none;
        }
    }
    body.past-header.scrolled-up.just-scrolled {
        #header {
            opacity: 1;
            display: block;
            animation-duration: 1s; /* the duration of the animation */
            animation-timing-function: ease-out; /* how the animation will behave */
            animation-delay: 2s; /* how long to delay the animation from starting */
            animation-iteration-count: 1; /* how many times the animation will play */
            animation-name: unloadTransition; /* the name of the animation we defined above */
            animation-fill-mode: forwards;
        }
    }
    body.past-header.just-scrolled.toc-on {
        #header {
            display: none !important;
        }
    }
    #header {
        #logo {
            width: 9vw;
            height: 9vw;
            margin-top: calc(9vw * -0.1666666);
        }
        h1 {
            font-size: calc(9vw / 3);
            top: calc(9vw / 1.6);
            a.bread-crumb {
                font-size: 2.5rem;
            }
        }
    }

    #nav {
        opacity: 1 !important;
        border: none;
        border-radius: 0;
        margin-left: 0;
        margin-bottom: 0;
        background-color: $colour_sunny_side_up_yellow;
        opacity: 1;
        position: fixed;
        left: 0;
        top: 0;
        right: auto;
        bottom: 0;
        width: 18vw;
        height: auto;
        z-index: 20;
        #menu-toggle {
            transform: rotate(0);
            text-align: center;
            top: calc(50% - (0.5 * (5vw + 7vh) / 2)) !important;
            left: 0 !important;
            width: 18vw;
            svg {
                height: 5rem !important;
            }
        }
        #nav-inner {
            left: 40% !important;
            scrollbar-width: none;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                width: 0px;
            }
            p {
                font-size: 1rem;
            }
        }
    }
    main#main {
        margin-left: calc(19vw + 7vw);
        margin-right: 7vw;
        overflow: visible;
        // #content-below-quote {
        //     margin-left: calc((19vw + 7vw) * -1);
        //     margin-right: -7vw;
        //     padding-left: calc(19vw + 7vw);
        //     padding-right: 7vw;
        // }
        // padding-top: calc(9vw * 1.5);
        padding-left: 0;
        padding-right: 0;
        blockquote.main-quote {
            transform: none;
            p {
                transform: translateY(-0.9em);
                margin-top: 0 !important;
                padding-top: 0 !important;
                text-align: left;
                padding-bottom: 0 !important;
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
        .typography {
            .image-container {
                img {
                    max-width: calc(43vw - 2px);
                }
            }
        }
    }
    footer#footer {
        padding: 4rem 0;
        padding-right: 6vw;
        padding-left: calc(24vw + 24vw);
        // z-index: 30;
    }
    body.menu-on {
        #nav {
            z-index: 999;
            right: auto;
            left: 0;
        }
    }
    body.past-header,
    body.menu-on.past-header {
        #nav {
            background-color: $colour_sunny_side_up_yellow;
            border: none;
            border-radius: 0;
            margin-left: 0;
            margin-bottom: 0;
            margin-left: 0;
            left: 0;
        }
    }
    body.menu-on.past-header {
        #nav {
            width: 100vw;
        }
    }
}
@media only screen and (min-width: 1350px) {
    body,
    body.past-header {
        #header {
            #logo {
                right: 5vw;
            }
            h1 {
                right: calc(5vw + (5vw / 1.5));
            }
        }
    }
    #nav {
        #nav-inner {
            left: 40% !important;
        }
    }
    main#main {
        margin-right: 11vw;
        margin-left: calc(19vw + 11vw);
        // #content-below-quote {
        //     margin-left: calc((19vw + 11vw) * -1);
        //     margin-right: -11vw;
        //     padding-left: calc(19vw + 11vw);
        //     padding-right: 11vw;
        // }
        .typography {
            .image-container {
                img {
                    max-width: calc(35vw - 2px);
                }
            }
        }
    }
    footer#footer {
        padding-left: 24vw;
    }
    .row {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (min-width: 1650px) {
}

@media only screen and (max-height: 400px) {
    main#main {
        padding-top: 200vh;
        blockquote.main-quote {
            padding-top: 130vh;
            p {
                font-size: calc(3vw + 3vh);
            }
        }
    }
    #nav {
        height: 10rem;
        width: 10rem;
        margin-right: -5rem;
        margin-bottom: -5em;
        #menu-toggle {
            height: 3rem;
            width: 3rem;
            line-height: 3rem; //required to center;
            left: 1.5rem;
            top: 1.5rem;
            svg {
                height: 3rem;
            }
        }
    }
    body.menu-on {
        #nav {
            #menu-toggle {
                height: 3rem;
                width: 3rem;
                line-height: 3rem; //required to center;
                bottom: 0.5rem;
                right: 0.5rem;
                svg {
                    height: 3rem;
                }
            }
            #nav-inner {
                ul.collapsibleList {
                    .icon {
                        left: -2.5rem;
                        font-size: 1.5rem;
                        width: 2.5rem;
                    }
                    > li {
                        margin-bottom: 4vh;
                        margin-top: 4vh;
                        font-size: 1.5rem !important;
                        a,
                        * {
                            font-size: 1.5rem !important;
                        }
                        ul {
                            li {
                                margin-bottom: 2vh;
                                margin-top: 2vh;
                            }
                        }
                    }
                }
            }
        }
    }
}
