#battery-saver-div {
    display: none;
    position: fixed;
    z-index: 1000;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: black;

    text-align: center;

    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    cursor: pointer;

    font-size: 2rem;
    svg {
        fill: $colour_sunny_side_up_yellow !important;
        width: 10rem;
        height: auto;
    }
    p {
        color: $colour_sunny_side_up_yellow !important;
        margin-top: 0;
        padding-bottom: 3vh;
        max-width: 770px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
