main#main {
    blockquote.main-quote {
        position: absolute;
        top: 50vh;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        padding: 0;
        margin: 0;
        p {
            padding-top: 4rem;
            padding-bottom: 4rem;
            padding-left: 2rem;
            padding-right: 2rem;
            display: block;
            margin: 0;
            background-color: transparent;
            background: transparent;
            border-color: transparent;
            font-size: calc(((1vh + 1vw)) + 24px);
            letter-spacing: -0.5px;
            filter: drop-shadow(0 0 6px $colour_sunny_side_up_yellow);
            // background: linear-gradient(270deg, #00000000, #fff, #00000000);
            line-height: 1.3;
            overflow: hidden;
            font-weight: 200;
            font-style: italic;
            text-align: left;
            font-family: $base_font_headers;
            color: $colour_blue_cobalter;
            * {
                color: $colour_blue_cobalter;
            }
            // &.has-typing-mode {
            //     // visibility: hidden;
            // }
            .shiner {
                display: inline-block;
                text-align: right;
                animation: shine;
                animation-duration: 4.2s; /* Full cycle: 2.1s of blinking + 2.1s pause */
                animation-iteration-count: infinite;
                text-decoration: none !important;
                font-style: normal;
                &.italic {
                    font-style: italic;
                }
                &.smaller {
                    font-size: 70%;
                }
                svg {
                    vertical-align: baseline;
                    transform: rotate(102deg);
                    height: 1.2em;
                    width: 1.2em;
                }
            }
            .Typewriter__wrapper,
            .Typewriter__wrapper * {
                visibility: visible;
            }
        }
    }
}

@keyframes shine {
    0% {
        filter: drop-shadow(0 0 0px $colour_sunny_side_up_yellow);
    }
    25% {
        filter: drop-shadow(0 0 0px $colour_sunny_side_up_yellow);
    }
    50% {
        filter: drop-shadow(0 0 20px $colour_sunny_side_up_yellow);
    }
    75% {
        filter: drop-shadow(0 0 0px $colour_sunny_side_up_yellow);
    }
    100% {
        filter: drop-shadow(0 0 0px $colour_sunny_side_up_yellow);
    }
}

body.footer-visible {
    main#main {
        blockquote.main-quote {
            display: none !important;
            // p {
            //     .blinker {
            //         &.smaller {
            //             rotate: 180deg;
            //         }
            //     }
            // }
        }
    }
}

body.no-rocket-show.past-header {
    main#main {
        blockquote.main-quote {
            opacity: 0 !important;
        }
    }
}
