main#main {
    blockquote {
        padding: 0;
        margin: 0;
        margin-top: 0vh;
        margin-top: 0vh;
        margin-right: 1.5vh;
        p {
            display: block;
            margin: 0;
            padding: 0;
            font-size: calc(3.5vh + 3.5vw);
            line-height: 1.2;
            overflow: hidden;
            letter-spacing: 0.1em;
            font-weight: 200;
            font-style: italic;
            .blinker {
                display: inline-block;
                text-align: center;
                text-align: right;
                font-size: calc(2.2vh + 2.2vw);
                animation: blink;
                animation-duration: 0.8s;
                animation-delay: 2.5s;
                animation-iteration-count: infinite;
                text-decoration: none!important;
                font-style: normal;
            }
        }
    }

    #quote-end {
        margin-bottom: 12vh;
    }
}

@keyframes blink {
    0% {
    }
    25%, 75% {
        color: transparent;
    }
    100% {
    }

}
