main#main {
    blockquote {
        padding: 0;
        margin: 0;
        margin-top: 0vh;
        margin-top: 0vh;
        margin-right: 1.5vh;
        padding-top: 0;
        padding-bottom: calc(10vh);
        p {
            display: block;
            margin: 0;
            padding: 7vh 0;
            font-size: calc( ( ( 3vh + 3vw) * 0.5) + 20px);
            line-height: 1.2;
            overflow: hidden;
            letter-spacing: 0.1em;
            font-weight: 200;
            font-style: italic;
            text-align: center;
            color: $colour_yep_thats_grey;
            * {
                color: $colour_yep_thats_grey
            }
            &.has-typing-mode {
                visibility: hidden;
            }
            .blinker {
                display: inline-block;
                text-align: center;
                text-align: right;
                font-size: calc(2.2vh + 2.2vw);
                animation: blink;
                animation-duration: 0.8s;
                animation-delay: 2.5s;
                animation-iteration-count: infinite;
                text-decoration: none!important;
                font-style: normal;
            }
            .Typewriter__wrapper,
            .Typewriter__wrapper * {
                visibility: visible;
            }
        }
    }
}


@keyframes blink {
    0% {
    }
    25%, 75% {
        color: transparent;
    }
    100% {
    }

}
