#Breadcrumbs {
    display: none;
}

body.past-header {
    #Breadcrumbs {
        color: $colour_white;
        * {
            color: $colour_white;
            font-weight: normal;
            text-decoration: none;
        }
    }
}
