.card-holder {
    display: grid;
    gap: 3rem;
    background: #ffffff55;
    padding: 3rem;
    border-radius: 2rem;
    border-top-left-radius: 0;
    border: 2px dashed $colour_modern_iron;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    .card {
        /* Styles for your cards */
        h4,
        p,
        li {
            padding: 0;
            margin: 0;
            font-size: 2rem;
        }
        h4 {
            font-size: 2rem !important;
        }
        p {
            font-size: 1.8rem !important;
        }
    }
}
