.card-holder {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr));
    grid-column-gap: 4rem;
    grid-row-gap: 1rem;
}

.card {
    /* Styles for your cards */
    h4:first-child {
        margin-top: 0;
        padding-top: 0;
    }
    p,
    li {
        font-size: 1.7rem;
        margin-bottom: 0.5rem;
    }
}
