.card-holder {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    background: #ffffff55;
    padding: 3rem;
    border-radius: 2rem;
    border-top-left-radius: 0;
    border: 3px dashed $colour_blue_cobalter_half_non_transparent;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    .card {
        /* Styles for your cards */
        h4:first-child {
            margin-top: 0;
            padding-top: 0;
        }
        p,
        li {
            font-size: 1.7rem;
            margin-bottom: 0.5rem;
        }
    }
}
