.card-holder {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    background: #ffffff55;
    padding: 3rem;
    border-radius: 2rem;
    border-top-left-radius: 0;
    border: 1px dashed $colour_outer_space_love;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}
.sunnysideup__app__elements__workexample {
    position: relative;
    .content-element__content {
        h3 {
            color: $colour_outer_space_love !important;
            text-transform: none;
            padding-left: calc(3rem + 1px) !important;
            padding-bottom: 0 !important;
            margin-bottom: 1rem !important;
            .open-close {
                display: none !important;
            }
        }
    }
    .work-example-images {
        position: relative;
        .dotted-line {
            position: absolute;
            width: 50px;
            border-left: 1px dashed $colour_outer_space_love;
            bottom: 9rem;
            top: 0;
            margin-top: -2rem;
            left: 30%;
            z-index: -1;
        }
        img {
            border-color: $colour_outer_space_love;
        }
        p.caption {
            margin-bottom: 0;
            padding-bottom: 0;
        }
        padding-bottom: 4rem;
    }
}
.card {
    /* Styles for your cards */
    h4:first-child {
        margin-top: 0;
        padding-top: 0;
    }
    p,
    li {
        font-size: 1.7rem;
        margin-bottom: 0.5rem;
    }
}
