.countable-icons span.icon {
    background-repeat: no-repeat;
    background-image: url(./../../images/1.svg);
    background-size: contain;
    background-position: left;
    position: absolute;
    width: 5rem;
    display: block;
}

.icon-1 span.icon {
    background-image: url(./../../images/1.svg);
}
.icon-2 span.icon {
    background-image: url(./../../images/2.svg);
}
.icon-3 span.icon {
    background-image: url(./../../images/3.svg);
}
.icon-4 span.icon {
    background-image: url(./../../images/4.svg);
}
.icon-5 span.icon {
    background-image: url(./../../images/9.svg);
}
.icon-6 span.icon {
    background-image: url(./../../images/6.svg);
}
.icon-7 span.icon {
    background-image: url(./../../images/7.svg);
}
.icon-8 span.icon {
    background-image: url(./../../images/8.svg);
}
.icon-9 span.icon {
    background-image: url(./../../images/1.svg);
}
.icon-10 span.icon {
    background-image: url(./../../images/2.svg);
}
.icon-11 span.icon {
    background-image: url(./../../images/3.svg);
}
.icon-12 span.icon {
    background-image: url(./../../images/4.svg);
}
.icon-13 span.icon {
    background-image: url(./../../images/6.svg);
}
.icon-14 span.icon {
    background-image: url(./../../images/7.svg);
}
.icon-15 span.icon {
    background-image: url(./../../images/8.svg);
}
.icon-16 span.icon {
    background-image: url(./../../images/9.svg);
}
.icon-17 span.icon {
    background-image: url(./../../images/8.svg);
}

h2 .icon {
    margin-top: -4px;
}
