.countable-icons {
    background-repeat: no-repeat;
    background-image: url(./../../images/1.svg);
}
.icon-1 {
    background-image: url(./../../images/1.svg);
}
.icon-2 {
    background-image: url(./../../images/2.svg);
}
.icon-3 {
    background-image: url(./../../images/3.svg);
}
.icon-5 {
    background-image: url(./../../images/5.svg);
}
.icon-6 {
    background-image: url(./../../images/5.svg);
}
.icon-7 {
    background-image: url(./../../images/7.svg);
}
.icon-8 {
    background-image: url(./../../images/8.svg);
}
.icon-9 {
    background-image: url(./../../images/9.svg);
}
.icon-10 {
    background-image: url(./../../images/1.svg);
}
.icon-11 {
    background-image: url(./../../images/2.svg);
}
.icon-12 {
    background-image: url(./../../images/3.svg);
}
.icon-13 {
    background-image: url(./../../images/4.svg);
}
.icon-14 {
    background-image: url(./../../images/5.svg);
}
.icon-15 {
    background-image: url(./../../images/6.svg);
}
.icon-16 {
    background-image: url(./../../images/7.svg);
}
.icon-17 {
    background-image: url(./../../images/8.svg);
}
