.typography {
    table.logos {
        width: 100%;
        table-layout: fixed;
        td, th {
            width: 33.333333333333%;
            border: 1px solid $colour_blue_cobalter;
            background-color: $colour_white;
            padding: 0;
            vertical-align: center;
            img {
                margin: 0!important;
                padding: 0!important;
                display: block!important;
                margin-left: auto!important;
                margin-right: auto!important;
                border: none!important;
                width: 100%!important;
                height: auto!important;
            }
        }
    }
}
