


body.has-toc {
    .typography {
        h1, h2 {
            cursor: pointer;
            i {
                display: inline-block;
                width: 1.7rem;
                font-family: $base_font_headers;
                font-style: normal;
            }
            i.open {
                display: none;
            }
            i.closed {
                display: inline-block;
            }

        }
    }
}
body.toc-on {
    #main {
        .typography {
            > * {
                display: none;
            }
            h1, h2 {
                width: auto!important;
                display: block;
                &:before {
                    border-top-color: transparent!important;
                }
                i.closed {
                    display: none;
                }
                i.open {
                    display: inline-block;
                }
            }
            #SiblingsAndChildren {
                display: block;
            }
            #SiblingsAndChildren > * {
                display: none;
            }
            #SiblingsAndChildren h2, #SiblingsAndChildren h1 {
                display: block;
            }
        }
    }
}

// <
