span.icon i {
    color: transparent !important;
}
body.has-toc {
    .typography {
        #content-below-quote {
            h1,
            h2 {
                padding-left: 4rem;
                cursor: pointer;
                margin-top: 0;
                > span:first-child {
                    display: inline-block;
                    width: 4.5rem;
                    margin-left: -4rem;
                    i {
                        color: $colour_yep_thats_grey_semi;
                    }
                }
                > span:last-child {
                    display: inline-block;
                    padding-left: 1rem;
                }
                span.active-holder {
                    display: none;
                }
                span {
                    i {
                        font-family: $base_font_headers;
                        font-style: normal;
                        font-weight: 200;
                    }
                    i.open {
                        display: none;
                    }
                    i.closed {
                        display: block;
                    }
                    i.active {
                        display: none;
                        animation: blinktoc;
                        animation-duration: 0.8s;
                        animation-delay: 0s;
                        animation-iteration-count: infinite;
                        font-size: 2rem !important;
                    }
                }
                &.toc-active {
                    .active-holder,
                    i.active {
                        display: inline-block;
                    }
                    i.open {
                        display: none;
                    }
                }
            }
        }
    }
}

@keyframes blinktoc {
    0% {
    }
    25%,
    75% {
        color: transparent;
    }
    100% {
    }
}

body.has-toc.toc-on {
    .typography {
        #content-below-quote {
            .element {
                padding: 0;
                margin-top: 3rem !important;
            }
            margin-bottom: 75vh;
            > * {
                display: none;
            }
            .element,
            .element > div {
                display: block;
            }
            .element > div > * {
                display: none;
            }
            #SiblingsAndChildren {
                display: block;
            }
            #SiblingsAndChildren > * {
                display: none;
            }
            #SiblingsAndChildren h2,
            #SiblingsAndChildren h1 {
                display: block;
                margin-top: 0;
            }
            h1,
            h2 {
                width: auto !important;
                display: block !important;
                &.open-close.icon {
                    margin-top: -4px;
                }
                i.closed {
                    display: none;
                }
                i.open {
                    display: inline-block;
                }
                &.toc-active {
                    i.open {
                        display: inline-block;
                    }
                    i.closed,
                    i.active {
                        display: none;
                    }
                }
            }
        }
    }
    .element {
        &:first-of-type {
            h1:before,
            h2:before {
                border-top: 2px dashed transparent !important;
            }
        }
    }
}

.bottom-space {
    margin-bottom: 6rem !important;
}

.toc-on #SiblingsAndChildren {
    border-top: 1px solid transparent;
}
