
body.has-toc {
    .typography {
        #content-below-quote {
            h1, h2 {
                cursor: pointer;
                i {
                    display: inline-block;
                    width: 1.7rem;
                    font-family: $base_font_headers;
                    font-style: normal;
                    width: 2.17rem;
                }
                i.open {
                    display: none;
                }
                i.closed {
                    display: inline-block;
                }
                i.active {
                    display: none;
                }
                &.toc-active {
                    i.active {
                        display: inline-block;
                    }
                    i.open,
                    i.closed {
                        display: none;
                    }
                }
            }
        }
    }
}

body.toc-on {
    .typography {
        #content-below-quote {
            > * {
                display: none;
            }
            h1, h2 {
                width: auto!important;
                display: block;
                &:before {
                    border-top-color: transparent!important;
                }
                i.closed {
                    display: none;
                }
                i.open {
                    display: inline-block;
                }
            }
            #SiblingsAndChildren {
                display: block;
            }
            #SiblingsAndChildren > * {
                display: none;
            }
            #SiblingsAndChildren h2, #SiblingsAndChildren h1 {
                display: block;
            }
        }
    }
}
