.field.checkbox {
    font-size: 1.5rem!important;
    * {
        font-size: 1.5rem!important;
    }
    input {
        display: none;
        &+label {
            border: none;
            display: inline-block;
            position: relative;
            -webkit-appearance: none;
            padding-left: 4.5rem;
            line-height: 1.7!important;
            &:after {
                content: '×';
                background-color: $colour_light_grey_aotrom;
                width: 3rem;
                text-align: center;
                position: absolute;
                top: 0px;
                left: 0px;
                opacity: 0.77;
            }
        }
        &:checked {
            &+label {
                &:after {
                    color: $colour_black;
                    content: '✔';
                    opacity: 1;
                }
            }
        }
    }
    &:hover {
        input {
            &+label {
                &:after {
                    opacity: 1;
                    // content: '✔';
                }
            }
        }
    }
}


.optionset {
    font-size: 1.5rem!important;
    * {
        font-size: 1.5rem!important;
    }

    li {
        padding: 0px !important;
        margin: 0px !important;
        width: 100%;
        label {
            display: inline-block;
        }
        input {
            display: none;
            &+label {
                position: relative;
                -webkit-appearance: none;
                padding-left: 4.5rem;
                line-height: 1.7!important;
                &:after {
                    content: '×';
                    position: absolute;
                    background-color: $colour_light_grey_aotrom;
                    width: 3rem;
                    text-align: center;
                    top: 0px;
                    left: 0px;
                    opacity: 0.77;
                }
            }
            &:checked {
                &+label {
                    &:after {
                        color: $colour_black;
                        content: '✔';
                        opacity: 1;
                    }
                }
            }
        }
        input[type='radio'] {
            display: none;
            &+label {
                position: relative;
                -webkit-appearance: none;
                padding-left: 4.5rem;
                line-height: 1.7!important;
                &:after {
                    content: '×';
                    position: absolute;
                    width: 3rem;
                    text-align: center;
                    top: 0px;
                    left: 0px;
                    opacity: 0.77;
                }
            }
            &:checked {
                &+label {
                    &:after {
                        color: $colour_black;
                        content: '✔';
                        opacity: 1;
                    }
                }
            }
        }
        &:hover {
            input {
                &+label {
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
