#header {
    img {display: none;}
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    #logo {
        display: block;
        background-image: url(./images/logo-small.svg);
        background-size: contain;
        position: absolute;
        top: 0;
        right: 6vw;
        z-index: 3;
    }
    h1 {
        font-weight: 500;
        font-family: $base_font_headers;
        text-transform: uppercase;
        line-height: 1;
        position: relative;
        color: $colour_blue_cobalter;
        * {
            color: $colour_blue_cobalter;
        }
        position: absolute;
        text-align: right;
        z-index: 3;
        margin-left: 17vw;
        a {
            text-decoration: none;
        }
        a, span {
            opacity: 0.7;
        }
        a.page-title {
            opacity: 1;
        }
        a.bread-crumb {
            display: block;
            padding-top: 0.5rem;
            font-size: calc(0.3rem + 2.5vh);
        }
    }
}
body.past-header {
    #header {
        height: 7rem;
        z-index: 3;
        background-color: #fff;
        position: fixed;
        border-bottom: 0px solid $colour_yep_thats_grey;
        box-shadow: 0px 3px 20px -6px rgba(0,0,0,0.5);
        // &:before {
        //     content: '';
        //     line-height: 0;
        //     font-size: 0;
        //     width: 0;
        //     height: 0;
        //     border-top: calc( 2 * (1.7rem + 2rem)) solid $colour_burngreen;
        //     border-bottom: 0px solid transparent;
        //     border-left: calc( 1 * (1.7rem + 2rem)) solid transparent;
        //     border-right: 0px solid transparent;
        //     position: absolute;
        //     top: calc( -1 * (1.7rem + 2rem));
        //     left: calc( -1 * (1.7rem + 2rem));
        // }
        #logo {
            height: 0!important;
            width: 0!important;
            margin-top: 0;
            z-index: 0
        }
        h1 {
            margin-top: 0.67em;
            color: $colour_yep_thats_grey;
            * {
                color: $colour_yep_thats_grey;
            }
            .page-title {
                color: $colour_blue_cobalter;
            }
            display: block;
            font-size: 3rem;
            right: 6vw;
            opacity: 1;
            top: 0px;
            .bread-crumb {
                display: none!important;
            }
        }
        svg {
            filter: grayscale(100%);
        }
    }
}

// body.footer-visible {
//     #header,
//     #header * {
//         height: 0;
//         overflow: hidden;
//     }
// }

@media only screen and (max-width: 1049px) {
    body.footer-visible {
        #nav {
            height: 0;
        }
    }
}

.up-baby-up {
    transform: rotate(180deg);
    display: inline-block;
    margin-right: -0.2em;
    padding-top: -0.2em;
    vertical-align: sub;
}
