#header {
    img {
        display: none;
    }
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    #logo {
        display: block;
        background-image: url(./images/logo-small.svg);
        background-size: contain;
        position: absolute;
        top: 0;
        right: 6vw;
        z-index: 3;
    }
    h1 {
        font-weight: 500;
        font-family: $base_font_headers;
        text-transform: uppercase;
        line-height: 1;
        position: relative;
        color: $colour_blue_cobalter_highlights;
        * {
            color: $colour_blue_cobalter_highlights;
        }
        position: absolute;
        text-align: right;
        z-index: 3;
        margin-left: 17vw;
        a {
            text-decoration: none;
        }
        a,
        span {
            opacity: 0.7;
        }
        a.page-title {
            opacity: 1;
        }
        a.bread-crumb {
            display: block;
            padding-top: 0.5rem;
            font-size: 2rem;
        }
    }
}
body.past-header:not(.menu-on) {
    #header {
        height: 5rem;
        z-index: 3;
        background-color: #fff;
        position: fixed;
        border-bottom: 0px solid $colour_yep_thats_grey;
        box-shadow: 0px 3px 20px -6px rgba(0, 0, 0, 0.5);
        opacity: 0;
        #logo {
            height: 0 !important;
            width: 0 !important;
            margin-top: 0;
            z-index: 0;
        }
        h1 {
            margin-top: 0.67em;
            margin-left: 0vw;
            color: $colour_yep_thats_grey;
            display: block;
            font-size: 2.5rem;
            right: 6vw;
            opacity: 1;
            top: 0px;
            * {
                color: $colour_yep_thats_grey;
            }
            .page-title {
                color: $colour_blue_cobalter_highlights;
            }
            .bread-crumb {
                display: none !important;
            }
        }
        svg {
            filter: grayscale(100%);
        }
    }
}
body.past-header.just-scrolled.scrolled-up {
    #header {
        opacity: 1;
    }
}
// body.footer-visible {
//     #header,
//     #header * {
//         height: 0;
//         overflow: hidden;
//     }
// }

@media only screen and (max-width: 1049px) {
    body.footer-visible {
        #nav {
            height: 0;
        }
    }
}

.up-baby-up {
    transform: rotate(180deg);
    display: inline-block;
    margin-right: -0.2em;
}

blockquote {
    p {
        svg {
            vertical-align: baseline;
            transform: rotate(102deg);
            height: 1.2em;
            width: 1.2em;
        }
    }
}
