/**
 * see responsive.css for media queries
 */
#nav {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 20rem;
    width: 20rem;
    z-index: 25;
    margin-left: -10rem;
    margin-bottom: -10rem;
    background-color: $colour_white;
    border-radius: 50%;
    border: 1px solid $colour_blue_cobalter;
    a {
        text-decoration: none;
    }
    * {
        font-family: $base_font_headers;
        font-weight: 500;
    }
    i {
        font-style: normal;
    }

    #menu-toggle {
        height: 5rem;
        width: 5rem;
        line-height: 5rem; //required to center;
        position: absolute;
        right: 3.5rem;
        top: 3.5rem;
        z-index: 9;
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        text-decoration: none;
        outline: 0;
        svg {
            height: 5rem;
            width: auto;
            vertical-align: middle;
        }
    }

    #nav-inner {
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
        nav {
            display: none;
        }
    }
    #closed-icon {
        display: inline-block;
        opacity: 1;
        color: #fff;
        font-size: 5rem;
    }
    #open-icon {
        font-size: 5rem;
        display: none;
        opacity: 0!important;
    }
}


body.past-header {
    #nav {
        background-color: transparent;
        border: 0px solid $colour_blue_cobalter;
        bottom: auto;
        top: 0;
        margin: 0;
        left: 6vw;
        width: 2rem;
        height: 2rem;

        #menu-toggle {
            line-height: 6rem;
            left: 0;
            top: 0;
            right: auto;
            svg {
                height: 4rem;
            }
        }
    }
}

body.menu-on {
    #nav {
        border: 0px solid $colour_blue_cobalter;
        background-color: $colour_sunny_side_up_yellow;
        opacity: 1;
        height: 100vh;
        width: 100vw;
        border-radius: 0;
        margin-left: 0;
        margin-bottom: 0;
        left: 0;
        #menu-toggle {
            opacity: 1;
            bottom: 2rem;
            left: 2rem;
            top: auto;
            svg {
                height: calc(3.7rem * 0.7);
            }
        }

        #nav-inner {
            opacity: 1!important;
            height: auto!important;
            width: auto!important;
            left: 40%;
            top: 50%;
            transform: translate(0, -50%);
            vertical-align: middle;
            margin: 0;
            padding: 0 0 0 3rem;
            overflow: hidden;
            nav {
                display: block;
            }
            // display: flex;
            // justify-content: center;
            // align-items: center;
            ul {
                padding-left: 0;
                margin-left: 0;
                list-style: none;
                text-transform: uppercase;
                li {
                    padding-left: 0;
                    margin-left: 0;
                    margin-bottom: 2vh;
                    margin-top: 2vh;
                    font-size: calc(2rem + 1vh);
                    list-style: none;
                    text-transform: uppercase;
                    padding-top: 0;
                    padding-bottom: 0;
                    a {
                        border-bottom: 3px solid transparent;
                        &:hover {
                            border-bottom: 3px solid $colour_blue_cobalter;
                        }
                    }
                    ul {
                        li {
                            font-size: calc(1rem + 1vh);
                            margin-bottom: 1vh;
                            margin-top: 1vh;
                            ul {
                                li {
                                    font-size: calc(1rem + 1vh);
                                }
                            }
                        }
                    }
                }
                li.current {
                    > a {
                        border-bottom: 3px solid $colour_blue_cobalter;
                    }
                }
                li.section {
                    > a {
                        // text-decoration: underline;
                        // text-decoration-style: dashed;
                    }
                }
            }
        }
        #closed-icon {
            display: none;
            opacity: 0;
        }
        #open-icon {
            display: inline-block;
            opacity: 1!important;
        }
    }
    @media only screen and (max-width: 1049px) {
        #nav {
            z-index: 999;
        }
    }
}

body.past-header.menu-on {
    #nav {
        #menu-toggle {
            top: 2rem;
            bottom: auto;
        }
    }
}
body.no-touch {
    #nav {
        #menu-toggle {
            svg {
                opacity: 0.9;
            }
            &:hover {
                svg {
                    opacity: 1;
                }
            }
        }
    }
}

@media only screen and (min-height: 750px) {
    body.menu-on {
        #nav {
            #nav-inner {
                ul {
                    li {
                        font-size: calc(2rem + 2vh);
                        ul {
                            li {
                                font-size: calc(1rem + 2vh);
                            }
                        }
                    }
                }
            }
        }
    }
}


// body.scrolled-down:not(.menu-on) {
//     @media only screen and (max-width: 1049px) {
//         #nav,
//         #menu-toggle {
//             height: 0!important;
//             padding: 0!important;
//             margin-top: 20px!important;
//             bottom: 0;
//         }
//         #menu-toggle {
//             svg {
//                 height: 0!important;
//             }
//         }
//     }
// }
