/**
 * see responsive.css for media queries
 */
#nav {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 20rem;
    width: 20rem;
    z-index: 25;
    margin-left: -10rem;
    margin-bottom: -10rem;
    background-color: $colour_white;
    border-radius: 50%;
    border: 1px solid $colour_blue_cobalter;
    a {
        text-decoration: none;
    }
    * {
        font-family: $base_font_headers;
        font-weight: 500;
    }
    i {
        font-style: normal;
    }

    #menu-toggle {
        height: 5rem;
        width: 5rem;
        line-height: 5rem; //required to center;
        position: absolute;
        right: 3.5rem;
        top: 3.5rem;
        z-index: 9;
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        text-decoration: none;
        outline: 0;
        svg {
            height: 5rem;
            width: auto;
            vertical-align: middle;
        }
    }

    #nav-inner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        vertical-align: middle;
        opacity: 0;
        margin: 0;
        padding: 0 0 0 3rem;
        height: 0;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        overflow-x: visible;
        overflow-y: auto;
        ul {
            padding-left: 0;
            margin-left: 0;
            list-style: none;
            text-transform: uppercase;
            margin-bottom: 1rem;
            margin-top: 1rem;
            li {
                padding-left: 0;
                margin-left: 0;
                margin-bottom: 1rem;
                margin-top: 1rem;
                font-size: 2.5rem;
                list-style: none;
                text-transform: uppercase;
                a {
                    border-bottom: 3px solid transparent;
                    &:hover {
                        border-bottom: 3px solid $colour_blue_cobalter;
                    }
                }
                ul {
                    li {
                        font-size: 1.7rem;
                        margin-bottom: 1.3rem;
                        margin-top: 1.3rem;
                        ul {
                            li {
                                font-size: 1.3rem;
                            }
                        }
                    }
                }
            }
            li.current {
                > a {
                    border-bottom: 3px solid $colour_blue_cobalter;
                }
            }
            li.section {
                > a {
                    // text-decoration: underline;
                    // text-decoration-style: dashed;
                }
            }
        }
    }
    #closed-icon {
        display: inline-block;
        opacity: 1;
        color: #fff;
        font-size: 5rem;
    }
    #open-icon {
        font-size: 5rem;
        display: none;
        opacity: 0!important;
    }
}


body.past-header {
    #nav {
        background-color: transparent;
        border: 0px solid $colour_blue_cobalter;
        bottom: auto;
        top: 0;
        margin: 0;
        left: 6vw;
        width: 2rem;
        height: 2rem;

        #menu-toggle {
            line-height: 3.7rem;
            left: 0;
            top: 0;
            right: auto;
            svg {
                height: calc(3.7rem * 0.7);
            }
        }
    }
}

body.menu-on {
    #nav {
        border: 0px solid $colour_blue_cobalter;
        background-color: $colour_sunny_side_up_yellow;
        opacity: 1;
        height: 100vh;
        width: 100vw;
        border-radius: 0;
        margin-left: 0;
        margin-bottom: 0;
        left: 0;
        #menu-toggle {
            opacity: 1;
        }

        #nav-inner {
            opacity: 1!important;
            display: block;
            height: auto!important;
        }
        #closed-icon {
            display: none;
            opacity: 0;
        }
        #open-icon {
            display: inline-block;
            opacity: 1!important;
        }
    }
    @media only screen and (max-width: 1049px) {
        #nav {
            z-index: 999;
        }
    }
}

body.past-header.menu-on {
    #nav {
        #menu-toggle {
            top: auto;
            left: 2rem;
            bottom: 2rem;
        }
    }
}
body.no-touch {
    #nav {
        #menu-toggle {
            svg {
                opacity: 0.9;
            }
            &:hover {
                svg {
                    opacity: 1;
                }
            }
        }
    }
}



// body.scrolled-down:not(.menu-on) {
//     @media only screen and (max-width: 1049px) {
//         #nav,
//         #menu-toggle {
//             height: 0!important;
//             padding: 0!important;
//             margin-top: 20px!important;
//             bottom: 0;
//         }
//         #menu-toggle {
//             svg {
//                 height: 0!important;
//             }
//         }
//     }
// }
