/**
 * see responsive.css for media queries
 */
#nav {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 20rem;
    width: 20rem;
    z-index: 25;
    margin-right: -10rem;
    margin-bottom: -10rem;
    background-color: $colour_sunny_side_up_yellow;
    border-radius: 50%;
    box-shadow: 0px 3px 20px -6px rgb(0 0 0 / 50%);
    a {
        text-decoration: none;
    }
    * {
        font-family: $base_font_headers;
        font-weight: 500;
        color: $colour_blue_cobalter_highlights;
    }
    i {
        font-style: normal;
        color: transparent !important;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.891412 0C0.0951229 0 -0.303022 0.973242 0.272076 1.54834L5.93458 7.21084C6.28848 7.56475 6.86358 7.56475 7.21749 7.21084L12.88 1.54834C13.4551 0.973242 13.0569 0 12.2606 0H0.891412Z' fill='%23022866'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: 60%;
        width: 1.5em;
        transform-origin: center;
        &.open {
            background-position: center 10%;
            transform: rotate(-90deg);
        }
        &.closed {
            transform: rotate(90deg);
            background-position: 40% center;
        }
    }

    #menu-toggle {
        transform: rotate(225deg);
        height: 5rem;
        width: 5rem;
        line-height: 5rem; //required to center;
        position: absolute;
        left: 3.5rem;
        top: 3.5rem;
        z-index: 9;
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        text-decoration: none;
        outline: 0;
        cursor: pointer;
        svg {
            height: 5rem;
            width: auto;
            vertical-align: middle;
        }
    }

    #nav-inner {
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
        nav {
            display: none;
        }
    }
    .menu-button {
        display: inline-block;
        opacity: 1;
        color: #fff;
        font-size: 5rem;
        transform: rotateY(180deg);
        transition: 0.5s transform;
    }
    .icon {
        left: -5rem;
        top: 0;
    }
}
body.show-logo {
    #header {
        transition: all 0.3s ease-in-out;
        display: block !important;
        zoom: 1 !important;
        position: fixed !important;
        display: block !important;
        opacity: 1 !important;
        z-index: 99999;
        h1 {
            display: none;
        }
        .bread-crumb {
            display: none;
        }
    }
}
body.menu-on {
    #nav {
        background-color: $colour_sunny_side_up_yellow;
        opacity: 1;
        height: 100vh;
        width: 100vw;
        border-radius: 0;
        margin-left: 0;
        margin-bottom: 0;
        right: 0;
        left: auto;
        bottom: 0;
        margin-right: 0;
        #menu-toggle {
            opacity: 1;
            bottom: 2rem;
            right: 2rem;
            top: auto;
            left: auto;
        }

        #nav-inner {
            opacity: 1 !important;
            height: auto !important;
            width: auto !important;
            left: 10%;
            top: 50%;
            transform: translate(0, -50%);
            vertical-align: middle;
            margin: 0;
            padding: 0 0 0 6rem;
            overflow: hidden;
            nav {
                display: block;
            }
            // display: flex;
            // justify-content: center;
            // align-items: center;
            ul {
                padding-left: 0;
                margin-left: 0;
                list-style: none;
                text-transform: uppercase;
                li {
                    transition: all 0.3s ease-in-out;
                    padding-left: 0;
                    margin-left: 0;
                    margin-bottom: 5vh;
                    margin-top: 5vh;
                    font-size: calc(2rem + 1vh);
                    list-style: none;
                    text-transform: uppercase;
                    padding-top: 0;
                    padding-bottom: 0;
                    a {
                        border-bottom: 3px solid transparent;
                        &:hover {
                            border-bottom: 3px solid $colour_blue_cobalter_highlights;
                        }
                    }
                    ul {
                        li {
                            font-size: calc(1rem + 1vh);
                            margin-bottom: 1vh;
                            margin-top: 1vh;
                            i {
                                background-size: 70%;
                            }
                            ul {
                                li {
                                    font-size: calc(1rem + 1vh);
                                    i {
                                        background-size: 80%;
                                    }
                                }
                            }
                        }
                    }
                }
                li.current {
                    > a {
                        border-bottom: 3px solid $colour_blue_cobalter_highlights;
                    }
                }
                li.section {
                    > a {
                        // text-decoration: underline;
                        // text-decoration-style: dashed;
                    }
                }
            }
        }
        .menu-button {
            transform: rotateY(0deg);
        }
    }

    @media only screen and (max-width: 1049px) {
        #nav {
            z-index: 999;
        }
    }
    .collapsibleListHasOpen {
        > li.collapsibleListNotOpen {
            font-size: 2rem !important;
            margin-top: 1vh !important;
            margin-bottom: 1vh !important;
            opacity: 0.6 !important;
        }
        > li.collapsibleListOpen {
            display: list-item;
        }
    }
    li.current {
        > a {
            border-bottom: 3px solid $colour_blue_cobalter_highlights !important;
        }
    }
}

body.past-header.menu-on {
}
body.no-touch {
    #nav {
        #menu-toggle {
            svg {
                opacity: 0.9;
            }
            &:hover {
                svg {
                    opacity: 1;
                }
            }
        }
    }
}

body.past-header {
    #nav {
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
    &.menu-on {
        #nav {
            opacity: 1;
        }
    }
}

body.past-header.scrolled-up {
    #nav {
        opacity: 0.75;
        &:hover {
            opacity: 1;
        }
    }
    &.menu-on {
        #nav {
            opacity: 1;
        }
    }
}

body.past-header.scrolled-up.just-scrolled {
    #nav {
        opacity: 1;
    }
}

@media only screen and (min-height: 750px) {
    body.menu-on {
        #nav {
            #nav-inner {
                ul {
                    li {
                        font-size: calc(2rem + 2vh);
                        ul {
                            li {
                                font-size: calc(1rem + 2vh);
                            }
                        }
                    }
                }
            }
        }
    }
}

// body.scrolled-down:not(.menu-on) {
//     @media only screen and (max-width: 1049px) {
//         #nav,
//         #menu-toggle {
//             height: 0!important;
//             padding: 0!important;
//             margin-top: 20px!important;
//             bottom: 0;
//         }
//         #menu-toggle {
//             svg {
//                 height: 0!important;
//             }
//         }
//     }
// }
