.sunnysideup__app__elements__workexample {
    .content-element__content {
        h3 {
            color: $colour_blue_cobalter_highlights;
            text-transform: none;
            padding-left: calc(3rem + 1px) !important;
            padding-bottom: 0 !important;
            margin-bottom: 1rem !important;
            .open-close {
                display: none !important;
            }
        }
    }
    .work-example-images {
        padding-bottom: 4rem;
        position: relative;
        a {
            filter: none;
        }
        .image-container {
            padding-bottom: 1rem !important;
            img.not-first {
                margin-top: -3rem !important;
            }
        }
        .dotted-line {
            position: absolute;
            width: 50px;
            border-left: 2px dashed $colour_modern_iron;
            bottom: 9rem;
            top: 0;
            margin-top: -2rem;
            left: calc(50% + 1px);
            z-index: -1;
        }
        img {
            box-shadow: 7px 7px 12px 2px rgba(0, 0, 0, 0.5);
            padding: 2rem;
            padding-bottom: 5rem;
            background-color: white;
            border: 1px solid #aaa;
            width: calc(100% - 4rem) !important;
            display: block;
        }
        p.caption {
            margin-top: 0 !important;
            a {
                text-decoration: none !important;
                background-color: $colour_burned_sunny_side_up !important;
                border: 2px dashed $colour_modern_iron;
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
                color: $colour_outer_space_love !important;
                font-style: normal;
            }
        }
    }
}
