body.theme-moon {
    blockquote {
        p {
            .shiner.smaller {
                display: none;
            }
        }
    }

    background-color: $colour_sunny_side_up_dark_purple;
    * {
        color: $colour_burned_sunny_side_up;
    }
    #header {
        #logo {
            background-image: url(./images/logo-small-inverted.svg);
        }
        span {
            color: $colour_burned_sunny_side_up;
        }
        h1 {
            color: $colour_burned_sunny_side_up;
        }
        * {
            color: $colour_burned_sunny_side_up;
        }
    }
    a[data-add-class="theme-moon"] {
        text-decoration: none !important;
    }
    #nav {
        background-color: $colou_sunny_side_up_green_darker !important;
        border-color: $colou_sunny_side_up_green_darker !important;
    }
    .typography {
        *,
        a:link,
        a:visited {
            color: $colour_burned_sunny_side_up;
        }
        h1,
        h2 {
            text-transform: uppercase;
            color: $colour_blue_cobalter;
        }
        h2 {
            color: $colour_burned_sunny_side_up !important;
            span {
                color: $colour_burned_sunny_side_up;
                i {
                    color: $colour_burned_sunny_side_up;
                }
            }
        }
        h1,
        h2 {
            &:before {
                border-color: $colour_burned_sunny_side_up !important;
            }
        }
        pre {
            background-color: $colour_blue_cobalter;
            color: $colour_white;
        }
        th {
            color: $colour_burned_sunny_side_up;
        }
        td {
            background-color: $colour_white;
            color: $colour_darker_grey_catch_22;
            * {
                color: $colour_darker_grey_catch_22 !important;
            }
        }
        hr {
            border-color: $colour_burned_sunny_side_up !important;
        }
        .media,
        .image-container,
        blockquote p {
            background-color: transparent;
            // background: linear-gradient(to left, $colour_law_firm_report_cover, $colour_dark_charcoal, $colour_law_firm_report_cover);
            background: transparent;
            border-color: transparent;
        }
        img {
            border-color: $colour_burned_sunny_side_up;
        }
        li {
            &::marker {
                color: $colour_burned_sunny_side_up;
            }
        }
    }

    form {
        * {
            color: $colour_law_firm_report_cover !important;
        }
        .middleColumn {
            input,
            textarea,
            select {
                border-bottom-color: $colour_law_firm_report_cover !important;
            }
        }
        span.readonly {
            border-bottom-color: $colour_law_firm_report_cover !important;
        }
        .btn-toolbar {
            input {
                background: $colour_burned_sunny_side_up;
            }
        }
    }
    .sunnysideup__app__elements__workexample {
        .content-element__content {
            h3 {
                color: $colour_burned_sunny_side_up !important;
            }
            .dotted-line {
                border-color: $colour_burned_sunny_side_up;
            }
            .card-holder {
                color: #fff;
                * {
                    color: #fff;
                }
                border-color: $colour_burned_sunny_side_up;
            }
            .work-example-images {
                p.caption {
                    a {
                        border-color: $colour_burned_sunny_side_up;
                    }
                }
            }
        }
    }
    #Breadcrumbs {
        border-color: $colour_burned_sunny_side_up !important;
    }
    footer#footer {
        background-color: $colour_boot_black_semi;
        img {
            // filter: invert(1);
        }
        * {
            color: $colour_white;
        }
        p {
            color: $colour_white;
        }
        li.current a,
        a:hover {
            color: $colour_ekos_green !important;
        }
        #theme-selectors {
            svg {
                fill: $colour_white;
                &:hover {
                    fill: $colour_ekos_green !important;
                }
            }
            #theme-moon {
                svg {
                    fill: $colour_ekos_green !important;
                }
            }
        }
    }
    &.past-header {
        #header {
            border-color: $colour_burned_sunny_side_up;
            background-color: $colour_burned_sunny_side_up;
            // &:before {
            //     border-top-color:  #000000c4;
            // }
            * {
                color: #fff;
            }
            .page-title {
                color: $colour_white;
            }
        }
        #nav {
            background-color: transparent;
        }
    }
    #BackgroundVideo {
        background-color: $colour_black;
    }
    main#main {
        blockquote {
            p {
                color: $colour_overcast_sunny_side_up !important;
                * {
                    color: $colour_overcast_sunny_side_up !important;
                }
            }
        }
    }
}

body[data-theme="theme-moon"] {
    body {
        background-color: transparent;
    }
    &.menu-on {
        #header {
            * {
                color: $colour_sunny_side_up_yellow !important;
            }
        }
        #nav {
            #nav-inner {
                ul {
                    li {
                        a {
                            &:hover {
                                border-bottom: 3px solid $colour_sunny_side_up_green !important;
                            }
                        }
                        &.current > a {
                            border-bottom: 3px solid $colour_sunny_side_up_green !important;
                        }
                    }
                }
            }

            background-color: $colour_purple_spirituality_in_the_sun;
            * {
                color: $colour_sunny_side_up_green;
            }
            i {
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.891412 0C0.0951229 0 -0.303022 0.973242 0.272076 1.54834L5.93458 7.21084C6.28848 7.56475 6.86358 7.56475 7.21749 7.21084L12.88 1.54834C13.4551 0.973242 13.0569 0 12.2606 0H0.891412Z' fill='%2300ab06'/%3E%3C/svg%3E%0A");
            }

            #closed-icon {
                .cls-1 {
                    fill: $colour_patrick_star_skin_colour;
                }
                .cls-2 {
                    fill: $colour_white;
                }
            }
            #open-icon {
                .cls-1 {
                    fill: $colour_rose_storm;
                }
                .cls-2 {
                    fill: $colour_white;
                }
            }
        }
    }
}

@media only screen and (min-width: 1050px) {
    body.theme-moon,
    body.theme-moon.past-header {
        #nav {
            background-color: $colour_outer_space_love;
        }
    }
}
