body.theme-rocket {
    background-color: $colour_on_the_fence_green;
    * {
        color: $colour_white;
    }
    #header {
        * {
            color: $colour_blue_cobalter;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $colour_white;
        }
    }
    a[data-add-class="theme-rocket"] {
        text-decoration: none!important;
    }
    #nav {
        border-right: 1px solid #fff;
        #closed-icon {
            .cls-1 {
                fill: $colour_purple_spirituality_in_the_sun;
            }
            .cls-2 {
                fill: $colour_sunny_side_up_yellow;
            }
        }
        #open-icon {
            .cls-1 {
                fill: $colour_blue_cobalter;
            }
            .cls-2 {
                fill: $colour_sunny_side_up_yellow;
            }
        }
        * {
            color: $colour_sunny_side_up_yellow!important;
        }
    }
    #main {
        blockquote.main-quote {
            padding-bottom: 60vh;
            padding-top: 20vh;
        }
        #content-below-quote {
            padding-top: 3rem;
        }
        #content-below-quote {
        }
        #content-below-quote {
        }

        // background-color: #00000037;
    }
    #BackgroundImage {
        display: block;
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .typography {
        *, a:link, a:visited {
            color: $colour_white;
        }
        h1, h2, h3, h4, h5, h6, address, p, li {
            filter: drop-shadow(0 0 12px $colour_black);
        }
        #SiblingsAndChildren h2, h1, h2 {
            &:before {
                border-top-color: transparent;
            }
        }
        pre {
            background-color: $colour_navy;
            color: $colour_white;
        }
        th {
            color: $colour_white;
        }
        hr {
            border-color: $colour_white!important;
        }
        // .last-updated {
        //     color: $colour_hypocrite_yellow!important;
        // }
        pre {
            background-color: $colour_navy;
        }
        .media, .image-container, blockquote p {
            background-color: transparent;
            background: transparent;
            border-color: transparent;
        }
        #BackgroundVideo {
            background: transparent;
        }
    }

    form {
        * {
            color: $colour_law_firm_report_cover!important;
        }
        .middleColumn {
            input,
            textarea,
            select
            {
                border-bottom-color: $colour_law_firm_report_cover!important;
            }
        }
        span.readonly {
            border-bottom-color: $colour_law_firm_report_cover!important;
        }
        .btn-toolbar {
            input {
                background: $colour_hypocrite_yellow;
            }
        }
    }
    #Breadcrumbs {
        border-color: $colour_white!important;
    }
    #footer {
        background-color: $colour_purple_spirituality_in_the_sun;
        * {
            color: $colour_white;
        }
        p {
            color: $colour_white;
        }
        #theme-selectors {
            svg {
                fill: $colour_white;
            }
            #theme-rocket {
                svg {
                    fill: $colour_sunny_side_up_yellow;
                }
            }
        }
    }
    &.past-header {
        #header {
            border-bottom: 1px solid #fff;
            background-color: hsla(0,0%,100%,0.7);
            * {
                color: $colour_black;
                -webkit-text-stroke-width: 0px;
            }
        }
        #nav {
            border: none;
            box-shadow: none;
        }
    }
    &.no-touch {
        #footer {
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }

        }
        &.past-header {
            #header {
                h1 {
                    background-color: transparent;
                }
            }
            #content-below-quote {

            }
        }
    }
    &.menu-on {
        #nav {
            background-color: $colour_darker_grey_catch_22;
        }
    }
    main#main {
        blockquote {
            p {
                color: $colour_white!important;
                * {
                    color: $colour_white!important;
                }

            }
        }
    }
}
@media only screen and (min-width: 1050px) {
    body.theme-rocket {
        #nav {
            background-color: transparent;
        }
    }
}
