body.theme-rocket {
    background-color: #555;
    &.has-video {
        background-color: #000;
    }
    #header {
        * {
            color: $colour_sunny_side_up_yellow;
        }
    }
    a[data-add-class="theme-rocket"] {
        text-decoration: none !important;
    }
    #main {
        blockquote {
            position: fixed;
            margin-top: 0 !important;
            p {
                font-family: $base_font_headers;
                font-weight: 600;
                letter-spacing: 0.13rem;
                filter: drop-shadow(0 0 6px #000);
                background: none;
                color: $colour_white;
                * {
                    color: $colour_white;
                }
            }
        }

        #content-below-quote {
            opacity: 1;
            * {
                color: #fff;
            }
            h1,
            h2 {
                &:before {
                    border-top-color: transparent;
                }
            }
        }
        .image-container {
            border: none;
            background: transparent;
        }
        // background-color: #00000037;
    }
    #BackgroundImage {
        opacity: 1;
    }

    form {
        * {
            color: $colour_law_firm_report_cover !important;
        }
        .middleColumn {
            input,
            textarea,
            select {
                border-bottom-color: $colour_law_firm_report_cover !important;
            }
        }
        span.readonly {
            border-bottom-color: $colour_law_firm_report_cover !important;
        }
        .btn-toolbar {
            input {
                background: $colour_hypocrite_yellow;
            }
        }
    }
    #Breadcrumbs {
        border-color: $colour_white !important;
    }
    #footer {
        background-color: $colour_purple_spirituality_in_the_sun;
        * {
            color: $colour_white;
        }
        p {
            color: $colour_white;
        }
        #theme-selectors {
            svg {
                fill: $colour_white;
            }
            #theme-rocket {
                svg {
                    fill: $colour_sunny_side_up_yellow;
                }
            }
        }
    }
    &.past-header {
        #header {
            border-bottom: 1px solid #fff;
            background-color: hsla(0, 0%, 100%, 0.7);
            * {
                color: $colour_black;
                -webkit-text-stroke-width: 0px;
            }
        }
    }
    &.no-touch {
        #footer {
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }
        }
        &.past-header {
            #header {
                h1 {
                    background-color: transparent;
                }
            }
        }
    }
}

@media only screen and (min-width: 1050px) {
    body.theme-rocket {
        #nav {
            background-color: $colour_white_ten_percent;
        }
        &.menu-on {
            #nav {
                background-color: $colour_sunny_side_up_yellow;
            }
        }
        main#main {
            blockquote.main-quote {
                margin-right: 7vw;
                margin-left: calc(19vw + 7vw);
            }
        }
    }
}
@media only screen and (min-width: 1350px) {
    body.theme-rocket {
        main#main {
            blockquote.main-quote {
                margin-right: 11vw;
                margin-left: calc(19vw + 11vw);
            }
        }
    }
}

body.menu-on {
    #header * {
        color: $colour_blue_cobalter !important;
    }
}

body.theme-rocket.title-colour-yellow {
    #header * {
        color: $colour_sunny_side_up_yellow;
    }
}
body.theme-rocket.title-colour-blue {
    #header * {
        color: $colour_blue_cobalter !important;
    }
}
