
body.theme-sun {
    background-color: $colour_light_grey_aotrom!important;
    blockquote.main-quote {
        p {
            .shiner.smaller {
                display: none !important;
                animation: none !important;
            }
        }
    }
}
body[data-theme="theme-sun"] {
    background-color: $colour_light_grey_aotrom!important;
}
