body.theme-moon {
    background-color: $colour_sunny_side_up_dark_purple;
    * {
        color: $colour_burned_sunny_side_up;
    }
    #header {
        #logo {
            background-image: url(./images/logo-small-inverted.svg);
        }
        span {
            color: $colour_burned_sunny_side_up;
        }
        h1 {
            color: $colour_burned_sunny_side_up;
        }
        * {
            color: $colour_burned_sunny_side_up;
        }
    }
    a[data-add-class="theme-moon"] {
        text-decoration: none !important;
    }
    #nav {
        background-color: $colour_anthroposofia !important;
        border-color: $colour_anthroposofia !important;
        .menu-arrow {
            stroke: $colour_sunny_side_up_green_darker !important;
        }
    }
    .typography {
        * {
            color: $colour_burned_sunny_side_up;
        }
        a:link,
        a:visited {
            color: $colour_sunny_side_up_green !important;
        }
        h1,
        h2 {
            text-transform: uppercase;
            color: $colour_blue_cobalter;
            border-bottom-color: $colour_burned_sunny_side_up !important;
        }
        h2 {
            color: $colour_burned_sunny_side_up !important;
            span {
                color: $colour_burned_sunny_side_up;
                i {
                    color: $colour_burned_sunny_side_up;
                }
            }
        }
        h1,
        h2 {
            &:before {
                border-color: $colour_burned_sunny_side_up !important;
            }
        }
        pre {
            background-color: $colour_blue_cobalter;
            color: $colour_white;
        }
        th {
            color: $colour_burned_sunny_side_up;
        }
        td {
            background-color: $colour_white;
            color: $colour_darker_grey_catch_22;
            * {
                color: $colour_darker_grey_catch_22 !important;
            }
        }
        hr {
            border-color: $colour_burned_sunny_side_up !important;
        }
        .media,
        .image-container,
        blockquote p {
            background-color: transparent;
            // background: linear-gradient(to left, $colour_law_firm_report_cover, $colour_dark_charcoal, $colour_law_firm_report_cover);
            background: transparent;
            border-color: transparent;
        }
        img {
            border-color: $colour_burned_sunny_side_up;
        }
        li {
            &::marker {
                // color: $colour_burned_sunny_side_up;
            }
        }
    }

    form {
        * {
            color: $colour_law_firm_report_cover !important;
        }
        .middleColumn {
            input,
            textarea,
            select {
                border-bottom-color: $colour_law_firm_report_cover !important;
            }
        }
        span.readonly {
            border-bottom-color: $colour_law_firm_report_cover !important;
        }
        .btn-toolbar {
            input {
                background: $colour_burned_sunny_side_up;
            }
        }
    }
    .sunnysideup__app__elements__workexample {
        .content-element__content {
            h3 {
                color: $colour_burned_sunny_side_up !important;
            }
            .dotted-line {
                border-color: $colour_burned_sunny_side_up;
            }
            .card-holder {
                color: #fff;
                * {
                    color: #fff;
                }
                border-color: $colour_burned_sunny_side_up;
            }
            .work-example-images {
                p.caption {
                    a {
                        color: #333 !important;
                        &:link,
                        &:visited {
                            color: #333 !important;
                            border-color: $colour_burned_sunny_side_up;
                        }
                    }
                }
            }
        }
    }
    #Breadcrumbs {
        border-color: $colour_burned_sunny_side_up !important;
    }
    footer#footer {
        background-color: $colour_boot_black_semi;
        img {
            // filter: invert(1);
        }
        * {
            color: $colour_white;
        }
        p {
            color: $colour_white;
        }
        li.current a,
        a:hover {
            color: $colour_ekos_green !important;
        }
        #theme-selectors {
            svg {
                fill: $colour_white;
                &:hover {
                    fill: $colour_ekos_green !important;
                }
            }
            #theme-moon {
                svg {
                    fill: $colour_ekos_green !important;
                }
            }
        }
    }
    &.past-header {
        #header {
            border-color: $colour_burned_sunny_side_up;
            background-color: $colour_burned_sunny_side_up;
            // &:before {
            //     border-top-color:  #000000c4;
            // }
            * {
                color: #fff;
            }
            .page-title {
                color: $colour_white;
            }
        }
        #nav {
            background-color: transparent;
        }
    }
    #BackgroundVideo {
        background-color: $colour_black;
    }
    main#main {
        blockquote {
            p {
                color: $colour_overcast_sunny_side_up !important;
                * {
                    color: $colour_overcast_sunny_side_up !important;
                }
            }
        }
    }
}
body[data-theme="theme-moon"] {
    background-color: $colour_sunny_side_up_dark_purple !important;
    &.menu-on {
        #header {
            * {
                color: $colour_sunny_side_up_yellow !important;
            }
        }
        #nav {
            #nav-inner {
                ul {
                    li {
                        a {
                            &:hover {
                                border-bottom: 3px solid $colour_sunny_side_up_green !important;
                            }
                        }
                        &.current > a {
                            border-bottom: 3px solid $colour_sunny_side_up_green !important;
                        }
                    }
                }
            }

            background-color: $colour_purple_spirituality_in_the_sun;
            * {
                color: $colour_sunny_side_up_green;
            }
            i {
                background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A//www.w3.org/2000/svg'%20viewBox%3D'23.5%2022.5%2031%2029'%3E%3Cpath%20d%3D'M26%2037H50%20M40%2025L52%2037L40%2049'%20fill%3D'none'%20stroke%3D'%2300ab06'%20stroke-width%3D'5'%20stroke-linecap%3D'round'%20stroke-linejoin%3D'round'/%3E%3C/svg%3E");
            }

            #closed-icon {
                .cls-1 {
                    fill: $colour_patrick_star_skin_colour;
                }
                .cls-2 {
                    fill: $colour_white;
                }
            }
            #open-icon {
                .cls-1 {
                    fill: $colour_rose_storm;
                }
                .cls-2 {
                    fill: $colour_white;
                }
            }
        }
    }
}

@media only screen and (min-width: 1050px) {
    body.theme-moon,
    body.theme-moon.past-header {
        #nav {
            background-color: $colour_outer_space_love;
        }
        .menu-arrow {
            stroke: $colour_outer_space_love !important;
        }
    }
}
