body[data-theme="theme-sun"] {
    #footer #theme-selectors #theme-sun {
        svg {
            fill: $colour_sunny_side_up_yellow;
        }
    }
}

body[data-theme="theme-moon"] {
    #footer #theme-selectors #theme-moon {
        svg {
            fill: $colour_sunny_side_up_yellow;
        }
    }
}

body.theme-sun {
    blockquote {
        p {
            .shiner.smaller {
                display: none !important;
                animation: none !important;
            }
        }
    }
}
