body.theme-sun {
    a[data-add-class="theme-sun"] {
        text-decoration: none!important;
    }
    #nav {
        #closed-icon {
            .cls-1 {
                fill:$colour_blue_cobalter_lighter;
            }
        }
    }
    #theme-sun {
        svg {
            fill: $colour_sunny_side_up_yellow;
        }
    }
    @media only screen and (min-width: 1050px) {
        #nav {
            #closed-icon {
                opacity: 0.66;
                &:hover {
                    opacity: 1;
                }
                .cls-1 {
                    fill: $colour_white;
                }
                .cls-2 {
                    fill: $colour_burned_sunny_side_up;
                }
            }

        }
    }
}
