
body.theme-moon {
    background-color: $colour_law_firm_report_cover;
    * {
        color: $colour_burned_sunny_side_up;
    }
    #header {
        #logo {
            background-image: url(./images/logo-small-inverted.svg);
        }
        span {
            color: $colour_burned_sunny_side_up;
        }
        h1 {
            color: $colour_burned_sunny_side_up;
        }
    }
    a[data-add-class="theme-moon"] {
        text-decoration: none!important;
    }
    #nav {
        background-color: $colour_black;
        border-color: $colour_painty_green;
        #closed-icon {
            .cls-1 {
                fill: $colour_patrick_star_skin_colour;
            }
            .cls-2 {
                fill: $colour_white;
            }
        }
        #open-icon {
            .cls-1 {
                fill: $colour_rose_storm;
            }
            .cls-2 {
                fill: $colour_white;
            }
        }
    }
    .typography {
        *, a:link, a:visited {
            color: $colour_burned_sunny_side_up;
        }
        h2 {
            color:  $colour_burned_sunny_side_up;
            span {
                color:  $colour_burned_sunny_side_up;
                i {
                    color:  $colour_burned_sunny_side_up;
                }
            }
        }
        #SiblingsAndChildren h2, h1, h2 {
            &:before {
                border-top-color: $colour_burned_sunny_side_up;
            }
        }
        pre {
            background-color: $colour_blue_cobalter;
            color: $colour_white;
        }
        th {
            color: $colour_burned_sunny_side_up;
        }
        td {
            background-color: $colour_white;
            color: $colour_darker_grey_catch_22;
            * {
                color: $colour_darker_grey_catch_22!important;
            }
        }
        hr {
            border-color: $colour_burned_sunny_side_up!important;
        }
        .media, .image-container, blockquote p {
            background-color: $colour_black;
            background: linear-gradient(to left, $colour_law_firm_report_cover, $colour_black, $colour_law_firm_report_cover);
            border-color: $colour_black;

        }
        // .last-updated {
        //     color: $colour_white!important;
        // }
    }

    form {
        * {
            color: $colour_law_firm_report_cover!important;
        }
        .middleColumn {
            input,
            textarea,
            select
            {
                border-bottom-color: $colour_law_firm_report_cover!important;
            }
        }
        span.readonly {
            border-bottom-color: $colour_law_firm_report_cover!important;
        }
        .btn-toolbar {
            input {
                background: $colour_burned_sunny_side_up;
            }
        }
    }
    #Breadcrumbs {
        border-color: $colour_burned_sunny_side_up!important;
    }
    footer#footer {
        background-color: $colour_boot_black_semi;
        img {
            // filter: invert(1);
        }
        * {
            color: $colour_white;
        }
        p {
            color: $colour_white;
        }
        li.current a, a:hover {
            color: $colour_ekos_green!important;
        }
        #theme-selectors {
            svg {
                fill: $colour_white;
                &:hover {
                    fill: $colour_ekos_green !important;
                }
            }
            #theme-moon {
                svg {
                    fill: $colour_ekos_green !important;
                }
            }
        }
    }
    &.past-header {
        #header {
            border-color: $colour_burned_sunny_side_up;
            background-color: $colour_burned_sunny_side_up;
            // &:before {
            //     border-top-color:  #000000c4;
            // }
            * {
                color: #fff;
            }
            .page-title {
                color: $colour_white;
            }
        }
        #nav {
            background-color: transparent;
        }
    }
    &.menu-on {
        #nav {
            background-color: $colour_outer_space_love;
        }
    }
    #BackgroundVideo {
        background-color: $colour_black;
    }
    main#main {
        blockquote {
            p {
                color: $colour_hypocrite_yellow;
                * {
                    color: $colour_hypocrite_yellow;
                }

            }
        }
    }
}

@media only screen and (min-width: 1050px) {
    body.theme-moon,
    body.theme-moon.past-header {
        #nav {
            background-color: $colour_outer_space_love;
        }
    }
}
