blockquote,
theme-rocket #main #content-below-quote *,
footer {
    transition:
        color 0.1s ease-in-out,
        opacity 0.1s ease-in-out,
        background-size 0.1s ease-in-out !important;
}
body.header-0 {
    #BackgroundImage.has-bg-image-loaded,
    blockquote {
        opacity: 1 !important;
    }
    #header {
        zoom: 1;
    }
}
body.header-10 {
    &.theme-rocket #main #content-below-quote * {
        color: #eee;
    }
    #BackgroundImage.has-bg-image-loaded,
    blockquote {
        opacity: 0.9 !important;
    }
    #header {
        zoom: 0.9;
    }
}
body.header-20 {
    &.theme-rocket #main #content-below-quote * {
        color: #ddd;
    }
    #BackgroundImage.has-bg-image-loaded,
    blockquote {
        opacity: 0.8 !important;
    }
    #header {
        zoom: 0.8;
    }
}
body.header-30 {
    &.theme-rocket #main #content-below-quote * {
        color: #ccc;
    }
    #BackgroundImage,
    blockquote {
        opacity: 0.7 !important;
    }
    #header {
        zoom: 0.7;
    }
}
body.header-40 {
    &.theme-rocket #main #content-below-quote * {
        color: #bbb;
    }
    #BackgroundImage,
    blockquote {
        opacity: 0.6 !important;
    }
    #header {
        zoom: 0.6;
    }
}
body.header-50 {
    &.theme-rocket #main #content-below-quote * {
        color: #aaa;
    }
    #BackgroundImage,
    blockquote {
        opacity: 0.5 !important;
    }
    #header {
        zoom: 0.5;
    }
}
body.header-60 {
    &.theme-rocket #main #content-below-quote * {
        color: #999;
    }
    #BackgroundImage,
    blockquote {
        opacity: 0.4 !important;
    }
    #header {
        zoom: 0.4;
    }
}
body.header-70 {
    &.theme-rocket #main #content-below-quote * {
        color: #888;
    }
    #BackgroundImage,
    blockquote {
        opacity: 0.3 !important;
    }
    #header {
        zoom: 0.3;
    }
}
body.header-80 {
    &.theme-rocket #main #content-below-quote * {
        color: #777;
    }
    #BackgroundImage,
    blockquote {
        opacity: 0.2 !important;
    }
    #header {
        zoom: 0.2;
    }
}
body.header-90 {
    &.theme-rocket #main #content-below-quote * {
        color: #666;
    }
    #BackgroundImage,
    blockquote {
        opacity: 0.1 !important;
    }
    #header {
        zoom: 0.1;
    }
}
body.header-100 {
    &.theme-rocket #main #content-below-quote * {
        color: #555;
    }
    #BackgroundImage,
    blockquote {
        opacity: 0 !important;
    }
    #header {
        zoom: 1;
        display: none;
    }
}

body.footer-0 {
    #BackgroundImage,
    footer {
        opacity: 1 !important;
    }
}
body.footer-10 {
    #BackgroundImage,
    footer {
        opacity: 0.9 !important;
    }
}
body.footer-20 {
    #BackgroundImage,
    footer {
        opacity: 0.8 !important;
    }
}
body.footer-30 {
    #BackgroundImage,
    footer {
        opacity: 0.7 !important;
    }
}
body.footer-40 {
    #BackgroundImage,
    footer {
        opacity: 0.6 !important;
    }
}
body.footer-50 {
    #BackgroundImage,
    footer {
        opacity: 0.5 !important;
    }
}
body.footer-60 {
    #BackgroundImage,
    footer {
        opacity: 0.4 !important;
    }
}
body.footer-70 {
    #BackgroundImage,
    footer {
        opacity: 0.3 !important;
    }
}
body.footer-80 {
    #BackgroundImage,
    footer {
        opacity: 0.2 !important;
    }
}
body.header-90 {
    #BackgroundImage,
    footer {
        opacity: 0.1 !important;
    }
}
body.footer-100 {
    #BackgroundImage,
    footer {
        opacity: 0 !important;
    }
}
