$colour-white: #fff;
$colour_white_ten_percent: #ffffff22;
$colour_black: #000;
$colour_black_lighter: #111;


$colour_sunny_side_up_green: #00ab06;
$colour_lucky_grey: #777777;
$colour_blue_cobalter_highlights: #2d57ff; //#2d57ff // #2d57ff // e239cc
$colour_blue_cobalter: #2d57ff; //#2d57ff // #2d57ff // e239cc
$colour_blue_cobalter_half: #2d57ff55; //8ca6f9
$colour_blue_cobalter_lighter: #8ca6f9;
$colour_burngreen: #94c93d;
$colour_light_grey_aotrom: #e6e6e6;
$colour_light_grey_aotrom_fifty_percent: #e6e6e677;
$colour_modern_iron: #A7A7A7;
$colour_modern_iron_half: #a7a7a777;
$colour_sunny_side_up_yellow: #f7cd55;
$colour_sunny_side_up_yellow_ten_percent: #f7cd5522;
$colour_hypocrite_yellow: #f7cd55;
$colour_yep_thats_grey: #575757;
$colour_yep_thats_grey_semi: #575757CC;
$colour_yep_thats_grey_revers: #959595;
$colour_overcast_sunny_side_up: #C3BFB3;
$colour_burngreen: #a6bd7f;
$colour_vexy: #0028c9;


/* theme moon */
$colour_orange: orange;
$colour_climate_negative: #6A36C2;
$colour_painty_green: #386548;
$colour_boot_black: #040403;
$colour_boot_black_semi: #040403CC;
$colour_blue: blue;
$colour_pink: pink;
$colour_red: red;
$colour_purple: purple;
$colour_navy: navy;
$colour_yellow: yellow;
$colour_anthroposofia: #3a075a;
$colour_rose_storm: #EF5D5D;
$colour_ekos_green: #95c93d;
$colour_patrick_star_skin_colour: #FF7B7B;

/* theme planet */
$colour_burned_sunny_side_up: #e4b105;
$colour_law_firm_report_cover: #0d3a59;
$colour_ranch_style_beans_with_onions: #240000;
$colour_minty_just_add_chocolate: #8dfdfa;

/* theme rocket */
$colour_dark_charcoal: #333;
$colour_darker_grey_catch_22: #222;
$colour_almost_black_dreamless_sleep: #111;
$colour_light_grey_gravel_fint: #bbb;
$colour_screaming_grey: #aaa;
$colour_darker_grey_catch_22: #222;
$colour_purple_spirituality_in_the_sun: #3a075a;
$colour_outer_space_love: #333;//#210F36;
$colour_on_the_fence_green: #81ce86;
$colour_on_the_fence_green_transparent: #81ce86;

/* theme star */
$colour_organic_egg_yolk: #e4b105;
$colour_center_shake_blue: #0032b9;
$colour_black_rock_n_roll: #191919;


$colour_transparent: transparent;
$colour_grey_white_grey: linear-gradient(270deg, $colour_light_grey_aotrom, $colour_white, $colour_light_grey_aotrom);
