// @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,200;1,600;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&family=Nunito+Sans:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap");

$base_font: "Nunito Sans", sans-serif;
$base_font_condensed: "Nunito Sans", sans-serif;
$base_font_headers: "Oswald", sans-serif;

// @import url("https://use.typekit.net/drk0ynw.css");
//
// $base_font: 'ff-good-web-pro', sans-serif;
// $base_font_condensed: 'ff-good-web-pro-condensed', sans-serif;
