
img:hover {
    animation-name: rotate-360-horizontal-fwd;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}


@keyframes rotate-360-horizontal-fwd {
  25% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }

}
