.body-loaded * {
    transition-property:
        width,
        min-width,
        color,
        background-color,
        opacity,
        height,
        min-height,
        min-width,
        max-height,
        max-width,
        left,
        right,
        top,
        bottom,
        color,
        border-radius,
        border,
        box-shadow,
        margin;
    transition-duration: 0.37s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}
