.body-loaded * {
    transition-property:
        width,
        min-width,
        color,
        background-color,
        opacity,
        height,
        min-height,
        min-width,
        max-height,
        max-width,
        left,
        right,
        top,
        bottom,
        box-shadow ;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0.1s;
}
